<div class="navbar is-fixed-bottom">
    <form hx-post="/messages" hx-target="#messages-list" hx-swap="innerHtml">
        <article class="media navbar-item">
            <div class="media-content">
                <div class="field has-addons">
                    <div class="control">
                        <input id="msg" name="msg" class="input" placeholder="Add a comment..."></input>
                    </div>
                    <div class="control">
                        <button class="button is-info" type="submit">Submit</button>
                    </div>
                    <div class="control">
                        <a class="button is-info" hx-get="/chat-input-collapsed" hx-target="#chat-input">Collapse</a>
                    </div>
                </div>
            </div>
        </article>
    </form>
</div>