<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Astrid Chat</title>
    <!-- <script type="module">
            import hotwiredTurbo from "https://cdn.skypack.dev/@hotwired/turbo";
        </script> -->
    <script src="https://unpkg.com/htmx.org@1.0.2"></script>
    <!--<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>

<body class="has-navbar-fixed-bottom">
    <section class="section has-text-light has-background-dark">
        <div class="container">
            {{> navbar}}
            <div class="" id="chat-area">
                <div id="messages-list" class="block" hx-get="/messages" hx-trigger="">
                    {{> messages}}
                </div>
            </div>
            <div class="" id="chat-input">
                {{> chat_input_collapsed}}
            </div>
        </div>
    </section>
</body>

</html>