{{#each messages}}
<div id="{{{message_id}}}" class="box has-background-grey-dark">
    <article class="media">
        <div class="media-left">
            <figure class="image is-32x32">
                <img class="is-rounded" src="{{{image_path}}}" alt="Image">
            </figure>
        </div>
        <div {{#if @last}} id="last-message" {{/if}} class="media-content">
            <div class="content">
                <p class="has-text-light">
                    {{{user_display_name}}}
                    <br>
                    {{{message_body}}}
                </p>
            </div>
        </div>
    </article>
</div>
{{/each}}
<script>
    var last = document.getElementById("last-message");
    last.scrollIntoView();
</script>